.container {
	width: 100%;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.spin {
	margin: 0px;
	width: 32px;
	height: 32px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.spin * {
	width: 32px;
	height: 32px;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}